body {
    background-color: #24292e;
    color: #ffffff;
}

.container {
    background-color: #333;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

p {
    margin: 0;
}

p>b {

    margin: 0;
    font-size: larger;
}

.dark-bg-input {
    background-color: #444;
    color: #fff;
}

.userDataDiv {
    display: inline-block;
    margin: 10px;
    background-color: #24292e;
    border-radius: 10%;
    text-align: center;
    padding: 10px;
}

.userDataDiv>p {
    font-size: 80%;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}