body {
    font-family: Roboto Mono;
    background-color: #000000;
    color: #ffffff;
}

#bg {
    opacity: 80%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -100;
}

.dark-container {
    background-color: #000000dc;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Custom CSS for dark-themed input fields */
.dark-input,
.dark-input:-webkit-autofill,
.dark-input:-webkit-autofill:hover,
.dark-input:-webkit-autofill:focus,
.dark-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #929292 inset !important;
    box-shadow: 0 0 0 30px rgba(32, 139, 73, 0.979) inset !important;
    color: #ffffff !important;
    /* White text color */
    border: solid 2px hsla(210, 100%, 50%, 0.36);
}

/* Specific style for autofill text color */
.dark-input:-webkit-autofill {
    -webkit-text-fill-color: #ffffffc7 !important;
}

div>p {
    margin: 0;
    margin-top: 10px;
}

.userDataDiv {
    display: inline-block;
    margin: 10px;
    background-color: #000000dc;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.userDataDiv>p {
    font-size: 80%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* summary table */
table {
    font-size:small ;
    width: 100%;
    border-collapse: collapse;
}

td {
    text-align: left;
}

td:last-child {
    text-align: right;
}

 /* Modal outline */
.modal-content {
    outline: 1px solid  chartreuse;
}